#header {
  color: white;
  text-align: center;
  font-family: 'Notable', sans-serif;
  font-size: 30px;
  background-color: black;
  padding: 5px;
  margin-top: 0px;
}

#header:hover {
  color: yellow;
  background-color: black;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
}